* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

.body-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.body-container-left,
.body-container-right {
    display: flex;
}

.body-container-left {
    width: 30vw;
    height: 100vh;
    background-image: url(images/palm-background.jpg);
    background-size: cover;
    border-right: 3px solid black;
}

.body-container-right {
    width: 70vw;
    flex-direction: column;
}

.body-container-right-form {
    background-color: rgba(128, 128, 128, 0.2);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

p,
h2,
legend,
.submit-button {
    margin: 10px;
}

.submit-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 30px;
}

.submit-button:hover {
    color: yellow;
}

input,
label {
    display: block;
}

.body-container-right-form .col1 {
    float: left;
    margin: 0px 10px 10px 10px;
}

.body-container-right-form .col2 {
    float: inline-start;
    margin: 0px 10px 10px 10px;
}

.body-container-right-form input[type="text"],
.body-container-right-form input[type="email"],
.body-container-right-form input[type="tel"],
.body-container-right-form input[type="password"],
.body-container-right-form select,
.body-container-right-form textarea {
    background-color: #FFFFFF;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    padding: 5px;
}

.body-container-right-form input[type="text"]:user-invalid,
.body-container-right-form input[type="email"]:user-invalid,
.body-container-right-form input[type="tel"]:user-invalid,
.body-container-right-form input[type="password"]:user-invalid {
    border: 1px solid red;
    color: red;
    box-shadow: none;
    background-color: rgba(255, 0, 0, 0.1);
}

.logo-background {
    height: 225px;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
}

.logo-container {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 100px;
}

.logo-container p {
    font-family: Norse-Bold;
    color: white;
    font-size: 112px;
}

.fieldset_password {
    border-bottom: none;
}